{% extends "base.html.twig" %}

{% block body %}
<form class="add-order-form" method="POST" enctype="multipart/form-data">
    <h2>Создание совместного заказа</h2>
    <div class="add-order-form__content">
        <label class="form-label" for="name">
            Название
        </label>
        <input id="name" name="name" type="text" class="form-input add-order-form__input"/>

        <label class="form-label" for="description">
            Описание
        </label>
        <textarea id="description" name="description" type="text" class="form-input default-textarea add-order-form__input"></textarea>

        <label class="form-label" for="address">
            Откуда забрать
        </label>
        <input id="pickup-address" name="pickup-address" type="text" class="form-input add-order-form__input"/>

        <label class="form-label" for="delivery-price">
            Стоимость доставки
        </label>
        <input id="delivery-price" name="delivery-price" type="number" class="form-input add-order-form__input"/>

        <label class="form-label" for="reward">
            Награда
        </label>
        <input id="reward" name="reward" type="number" class="form-input add-order-form__input"/>

        <div class="add-order-form__header">
            Условия завершения заказа
        </div>
        <div class="add-order-form__radio-group">
            <input id="criteria-1" name="condition" type="radio" class="default-radio" value="1">
            <label for="criteria-1" class="form-radio-label">Количество участников</label>
        </div>
        <input type="text" class="form-input add-order-form__applicants-count" placeholder="Сколько участников">
        <div class="add-order-form__radio-group">
            <input id="criteria-2" name="condition" type="radio" class="default-radio" value="2">
            <label for="criteria-2" class="form-radio-label">Общая стоимость</label>
        </div>
        <div class="add-order-form__radio-group">
            <input id="criteria-3" name="condition" type="radio" class="default-radio" value="3">
            <label for="criteria-3" class="form-radio-label">Срок</label>
        </div>
    </div>

    <div class="add-order-form__footer">
        <a href="{{ path('orders') }}" class="form-button">Назад</a>
        <button class="form-button" type="submit">Подтвердить</button>
    </div>
</form>
{% endblock body %}
