{% extends "base.html.twig" %}

{% block body %}
<form class="add-order-form" method="POST" enctype="multipart/form-data">
    <h3>Добавить позицию в заказ №{{ order.id }}</h3>
    <div class="add-order-form__content">
        <label class="form-label" for="name">
            Название
        </label>
        <input id="name" name="name" type="text" class="form-input add-order-form__input"/>

        <label class="form-label" for="price">
            Стоимость
        </label>
        <input id="price" name="price" type="number" class="form-input add-order-form__input"/>

        <label class="form-label" for="link">
            Ссылка на товар
        </label>
        <input id="link" name="link" type="text" class="form-input add-order-form__input"/>

        <label class="form-label" for="amount">
            Количество
        </label>
        <input id="amount" name="amount" type="number" class="form-input add-order-form__input"/>
    </div>

    <div class="add-order-form__footer">
        <a href="{{ path('order', {id: order.id}) }}" class="form-button">Отменить</a>
        <button class="form-button" type="submit">Добавить</button>
    </div>
</form>
{% endblock body %}
