<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/common.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src="/static/common.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="mobile-container">
        <div class="fast-login">
            <h3>Войти под:</h3>
            <br>
            {% for user in get_all_users() %}
                <div>
                    <a href="{{ path('admin_login', {'userId': user.id}) }}" class="icon-block">
                        <img class="icon-block__avatar" src="{{ user.avatarUrl }}" alt="">
                        <div>{{ user.fio }} <span style="color:white">{% if user.id == get_current_user().id %} (вы под ним) {% endif %}</span></div>
                    </a>
                    <br>
                </div>
            {% endfor %}
        </div>

        <div class="mobile-container-inner">
            {% block body %}{% endblock %}
        </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
