{% extends "base.html.twig" %}

{% block body %}
    <div class="orders">
        <div class="orders__navigation">
            <img src="{{ get_current_user() ? get_current_user().getAvatarUrl() : '' }}" class="avatars-group__item" alt="">
            <div class="orders__navigation-login">{{ get_current_user() ? get_current_user().getFio() : '' }}</div>
            <a href="" class="orders__navigation-icon"><img src="/filter.svg" alt=""></a>
            <a href="{{ path('shop-list') }}" class="orders__navigation-icon orders__navigation-plus-icon"><img src="/plus.svg" alt=""></a>
        </div>
        <div>
            {% for order in orders %}
                <a href="{{ path('order', {id: order.id}) }}" class="order box-layout">
                    <div class="order__header">
                        {{ order.shop.name }}
                        {% if order.getOrderUsers|length == maxOrderCount %}
                            <div class="order-status order-status_payment">Сбор денег</div>
                        {% else %}
                            <div class="order-status order-status_assembly">Формирование</div>
                        {% endif %}
                    </div>
                    <div class="order__description">{{ order.description }}</div>
                    <div class="order__footer order-user-info">
                        <div>
                            <div class="order__applicants-header">Участвуют</div>
                            <div class="avatars-group">
                                {% for user in order.getOrderUsers %}
                                    <img src="{{ user.getAvatarUrl }}" class="avatars-group__item" alt="">
                                {% endfor %}
                            </div>
                            <div class="progress-bar"></div>
                            <div class="order__applicants-count">{{ order.getOrderUsers|length }} участников из {{ maxOrderCount }}</div>
                        </div>
                        <div class="order__footer-right">
                            <div class="order__applicants-header">Стоимость участия</div>
                            <div class="order__applicants-price">
                                <div class="order__applicants-old-price">
                                    {{ order.getDeliveryPrice + order.getOrganizerReward }} ₽
                                </div>
                                <div class="order__applicants-new-price">
                                    {{ order.getParticipationPrice }} ₽
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="orders-footer">
            {% set is_my_orders = app.request.get('_route') == 'my_orders' %}

            <a href="{{ path('orders') }}">
                <img class="orders-footer__image" src="/order-list{{ is_my_orders ? '' : '-selected' }}.svg" alt="Список заказов">
            </a>
            <a href="{{ path('my_orders') }}">
                <img class="orders-footer__image" src="/shopping-bag{{ is_my_orders ? '-selected' : '' }}.svg" alt="Мои заказы">
            </a>
            <a href="">
                <img class="orders-footer__image" src="/message-circle.svg" alt="Сообщения">
            </a>
        </div>
    </div>
{% endblock body %}
