{% extends "base.html.twig" %}

{% block body %}
    <div class="order-page-grid">
        <h2 class="order-header">
            <a href="{{ path('orders') }}"><img src="/arrow-left.svg" alt=""></a>
            Заказ
        </h2>

        <div class="order-information-grid">
            <div>
                <div class="label-micro-info">Описание</div>
                <div>{{ order.description }}</div>
            </div>
            <div>
                <div class="label-micro-info">Откуда забрать</div>
                <div>{{ order.pickupAddress }}</div>
            </div>

            <div>
                <div class="label-micro-info">Общая стоимость доставки</div>
                <div>{{ order.deliveryPrice }} ₽</div>
            </div>

            <div>
                <div class="label-micro-info">Награда организатору</div>
                <div>{{ order.organizerReward }} ₽</div>
            </div>

            <div>
                <div class="label-micro-info">Участников уже</div>
                <div>
                    {{ memberCount }} из {{ maxOrderCount }}
                    {% if maxOrderCount == memberCount %} <span class="order-complete-label">Собран!</span> {% endif %}
                </div>
            </div>
            <div>
                <div class="label-micro-info">Стоимость участия</div>
                <div>{{ order.getParticipationPrice }} ₽</div>
            </div>
        </div>

        <div class="order-user-info">
            <div>
                <div class="order__applicants-header">Участвуют</div>
                <div class="avatars-group">
                    {% for user in order.getOrderUsers %}
                        <img src="{{ user.getAvatarUrl }}" class="avatars-group__item" alt="">
                    {% endfor %}
                </div>
                <div class="progress-bar"></div>
                <div class="order__applicants-count">{{ memberCount }} участников из {{ maxOrderCount }}</div>
            </div>
            <div class="order__footer-right">
                <div class="order__applicants-header">Стоимость участия</div>
                <div class="order__applicants-price">
                    <div class="order__applicants-old-price">
                        {{ order.getDeliveryPrice + order.getOrganizerReward }} ₽
                    </div>
                    <div class="order__applicants-new-price">
                        {{ order.getParticipationPrice }} ₽
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="micro-title">Статус</div>
            <div class="order-status order-status_assembly" style="display: inline-block;">Формирование</div>
        </div>

        <div class="box-layout" style="display: flex;">
            <div class="shop-title-info">
                <div class="shop-list-item">
                    <div class="shop-list-item__icon">{{ order.shop.emoji }}</div>
                    <div>
                        <div class="shop-list-item__title">{{ order.shop.textName }}</div>
                        <div class="shop-list-item__category">Продукты</div>
                    </div>
                </div>
            </div>
            <div style="width:120px; flex-shrink: 0;">
                <a href="//{{ order.shop.link }}" class="form-button" style="flex-shrink: 0;">В каталог</a>
            </div>
        </div>

        <a href="{{ path("order-add-item", {id:order.id}) }}" class="box-layout">
            <div class="add-position-button" style="padding: 0;">
                <span class="add-position-button__text">Купить вместе</span>
                <span class="add-position-button__plus">+</span>
            </div>
        </a>

        {% for groupedOrderItems in order.getOrderItemsGroupedByUser(get_current_user()) %}
            <div>
                {% if groupedOrderItems.user.id == get_current_user().id and loop.first %}
                    <div class="micro-title">Ваш заказ</div>
                {% else %}
                    {% if (loop.index == 2) or (groupedOrderItems.user.id != get_current_user().id and loop.first) %}
                        <div class="micro-title">Другие заказы</div>
                    {% endif %}
                {% endif %}

                <div class="box-layout box-layout_dark">
                    {% set user = groupedOrderItems['user'] %}
                    {% set orderItems = groupedOrderItems['items'] %}
                    {% set sumPrice = groupedOrderItems['price'] %}

                    {% if loop.first %}
                        {% for orderItem in orderItems %}
                            <div class="box-layout box-layout_square">
                                <div class="order-product-item__title">
                                    <span title="Добавить себе"><img class="order-product-item__cart" src="/edit-3.svg" alt="Добавить себе"></span>
                                    <a target="_blank" href="//{{ orderItem.link }}" class="label-product-title">{{ orderItem.name }}</a>
                                </div>
                                <div class="order-product-item__footer">
                                    <div class="order-product-item__quantity-control">
                                        <div class="order-product-item__button">-</div>
                                        <div class="order-product-self-item__quantity">{{ orderItem.amount }}</div>
                                        <div class="order-product-item__button">+</div>
                                    </div>

                                    <div class="order-product-self-item__price">
                                        {{ orderItem.getPriceForOne }} ₽
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for orderItem in orderItems %}
                            <div class="order-product-item box-layout box-layout_square">
                                <div class="order-product-item__title">
                                    <span title="Добавить себе"><img class="order-product-item__cart" src="/shopping-cart.svg" alt="Добавить себе"></span>
                                    <a target="_blank" href="//{{ orderItem.link }}" class="label-product-title">{{ orderItem.name }}</a>
                                </div>
                                <div class="order-product-item__quantity">{{ orderItem.amount }} x {{ orderItem.getPriceForOne }} ₽</div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if groupedOrderItems.user.id == get_current_user().id and loop.first %}
                        <a href="{{ path("order-add-item", {id:order.id}) }}" class="add-position-button">
                            <span class="add-position-button__text">Добавить</span>
                            <span class="add-position-button__plus">+</span>
                        </a>
                    {% endif %}

                    <div class="order-product-item__croud-price">Участие <b>{{ order.getParticipationPrice }} ₽</b></div>
                    <div class="bottom-product-item-price">
                        {% if groupedOrderItems.user.id == get_current_user().id and loop.first %}
                            <div></div>
                        {% else %}
                            <div class="order-status order-status_payment" style="display: inline-block;">Не оплачен</div>
                        {% endif %}
                        <div>Итог <b>{{ sumPrice + order.getParticipationPrice }} ₽</b></div>
                    </div>

                    {% if not loop.first %}
                        <div class="user-footer">
                            <a href="#" class="icon-block">
                                <img class="icon-block__avatar" src="{{ user.avatarUrl }}" alt="">
                                <div>
                                    <div class="user-name-text">{{ user.fio }}&nbsp;&nbsp;&nbsp; <span style="font-size: 12px; font-weight: bold;color:#F6DC2D">Написать</span></div>
                                    <div class="user-name-micro">Участник</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
