{% extends "base.html.twig" %}

{% block body %}
    <h2>Создание совместной доставки</h2>

    <br>

    <div class="filters-buttons">
        <div class="filters-buttons__item">Продукты</div>
        <div class="filters-buttons__item">Электроника</div>
        <div class="filters-buttons__item">Аптека</div>
    </div>

    <br>

    <div class="shop-list-grid">
        <a href="#" class="box-layout">
            <div class="shop-list-item">
                <div class="shop-list-item__icon shop-list-item__icon_plus">+</div>
                <div class="shop-list-item__title">Добавить магазин</div>
            </div>
        </a>
        {% for shop in shops %}
            <a class="box-layout" href="{{ path('new_order', {shopId: shop.id}) }}">
                <div class="shop-list-item">
                    <div class="shop-list-item__icon">{{ shop.emoji }}</div>
                    <div>
                        <div class="shop-list-item__title">{{ shop.textName }}</div>
                        <div class="shop-list-item__category">Продукты</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock body %}
