.form-input {
	padding: 2px 12px;
	width: 100%;
	height: 32px;
	color: var(--text-color2);
	background-color: rgba(34, 34, 30, 0.5);
	border: 1px solid #4A4A43;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
	font-size: 16px;
	line-height: 20px;

    &:focus {
      border-color: rgba(246, 220, 45, 0.75);
    }
}

.form-label {
	display: inline-block;
	font-size: 12px;
	margin-bottom: 4px;
	color: var(--text-color2);
	font-weight: bold;
}

.default-textarea {
	resize: none;
	height: 80px;
}

.add-order-form {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 20px;
	min-height: var(--inner-content-height);
}

.add-order-form__input {
	margin-bottom: 10px;
}

.add-order-form__header {
	margin: 20px 0 16px;
}

.add-order-form__header, .form-radio-label {
	font-size: 16px;
	color: var(--text-color2);
}

.add-order-form__applicants-count {
	margin-bottom: 16px;
	width: 160px;
}

.add-order-form__radio-group {
	margin-bottom: 10px;
}

.add-order-form__footer {
	align-self: end;
	margin: 20px -20px 0;
	padding: 16px 20px;
	border-top: 1px solid var(--border-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	grid-column-gap: 20px;
}

.form-button {
	display: inline-block;
	padding: 8px 18px;
	user-select: none;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
	border: none;

	background-color: rgba(246, 220, 45, 0.15);
	color: #F6DC2D;
	border-radius: 4px;

	&:focus, &:hover {
		background-color: rgba(246, 220, 45, 0.30);
		text-decoration: none;
	}

	&:active {
		background-color: rgba(246, 220, 45, 0.45);
	}
}
