.box-layout {
  background: #22221E;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
}

.box-layout_dark {
  background: rgba(34, 34, 30, 0.5);
  border-radius: 16px;
}

.box-layout_square {
  border-radius: 4px;
}

.box-layout_fill_grey {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: grey;
}

.box-layout__order + .box-layout__order {
  margin-top: 24px;
}

.icon-block {
  display: flex;
  align-items: center;
}

.icon-block__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 12px;
  flex-shrink: 0;
}

.icon-block__avatar_stroke {
  border-radius: 0;
}

.bottom-product-item {

}

.bottom-product-item-price {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  align-self: center;
  margin-bottom: 12px;
  justify-content: space-between;
  display: flex;
}


.order-product-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas:
    "title title title title"
    "quantity quantity quantity quantity"
    ". . croud-price croud-price";
}

.order-product-item + .order-product-item {
  margin-top: 8px;
}

.order-product-item__quantity {
  font-weight: bold;
  text-align: right;
}

.order-product-item__croud-price {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
  grid-area: croud-price;
  text-align: right;
}

.order-product-item__title {
  font-size: 18px;
  grid-area: title;
  padding-bottom: 8px;
}

.order-product-item__cart {
  float: right;
  padding-left: 8px;
  padding-bottom: 8px;
  height: 38px;
  width: 38px;
}

.order-product-item__quantity {
  grid-area: quantity;
}

.order-product-item__price {
  text-align: right;
  grid-area: price;
}

.filters-buttons {
  display: flex;
}

.filters-buttons__item {
  font-size: 14px;
  margin-right: 4px;
  flex-shrink: 0;
  padding: 4px;
  border: 1px solid var(--border-color);
}

.shop-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 12px;
}

.mobile-container {
  width: 423px;
  border: 24px solid #9eadba;
  background-color: #9eadba;
  border-radius: 60px;
  margin: 40px auto;
}

.mobile-container-inner {
  background-color: #111012;
  padding: 37px 20px;
  border-radius: 36px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 700px;
}

.add-position-button {
  color: #F6DC2D;
  overflow: hidden;
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 20px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 8px 12px;
  padding-bottom: 0;
}

.add-position-button__plus {
  font-size: 42px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
}

.add-position-button__text {
  font-weight: bold;
}

.order-information-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px 0;
}

.order-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 24px 0;
}

.product-delimiter {
  margin: 20px -20px;
  border-bottom: 2px dashed var(--border-color);
}

.complete-bg {
  border-radius: 8px;
  padding: 20px;
  background-color: var(--complete-green);
}

.order-complete-label {
  background-color: var(--complete-green);
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;
}

.shop-title-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.avatars-group {

}

.avatars-group__item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgba(70, 70, 70, 0.5);

  &:not(:first-child) {
    margin-left: -14px;
  }
}

.fast-login {
  background-color: #111012;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: 40px;
  width: 300px;
  border: 8px solid #9eadba;
  border-radius: 8px;

  a {
    color: #6558f5;
    font-weight: bold;
  }
}

.micro-title {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 20px;
}

.label-product-title {
  color: white;
  font-size: 16px;
}

.order-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 14px;
  font-size: 18px;
  font-weight: 700;
}

.user-footer {
  padding-top: 16px;
  border-top: 1px solid #2F2F2F;
}

.user-name-micro {
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.user-name-text {
  color: white;
}

.order-product-item__button {
  font-size: 42px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  color: #F6DC2D;
}

.order-product-item__footer {
  margin-top: 18px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.order-product-item__quantity-control {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 16px;
}

.order-product-self-item__quantity {
  font-size: 20px;
}

.order-product-self-item__price {
  justify-self: end;
  font-size: 16px;
}
