* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  color: white;
  font-size: 14px;
  line-height: 20px;
}

@import "css-variables";
@import "labels";
@import "box-layout";

.m-den-16 {
  margin-bottom: 16px;
}

.m-den-8 {
  margin-bottom: 8px;
}