html {
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color2: rgba(255, 255, 255, 0.75);
  --border-color: #2F2F2F;
  --button-color: #6558f5;
  --complete-green: rgba(198, 247, 226, 0.82);
  --inner-content-height: 626px;
}
