.orders {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 20px;
	min-height: var(--inner-content-height);
}

.order {
	border-radius: 8px;
	margin-bottom: 12px;
	height: fit-content;
	display: block;
	text-decoration: none;
	padding: 20px 12px;
}

.order__header {
	margin-bottom: 8px;
	color: var(--text-color);
	font-size: 18px;
	font-weight: bold;
	display: grid;
	grid-template-columns: 1fr auto;
}

.order__description {
	padding: 0 20px;
	font-size: 14px;
	color: var(--text-color);
}

.order__footer {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid var(--border-color);
}

.order-user-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
}

.order__applicants-header {
	margin-bottom: 8px;
	color: var(--text-color2);
	font-size: 12px;
}

.order__applicants-count {
	margin-top: 4px;
	color: var(--text-color2);
	font-size: 12px;
}

.add-order-button {
	padding: 30px 0 40px;
	display: grid;
	justify-content: center;
	font-size: 24px;
	color: var(--text-color);
}

.orders-footer {
	padding-top: 18px;
	position: sticky;
	bottom: 0;
	align-self: end;
	margin: 0 -20px;
	border-top: 1px solid var(--border-color);
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: center;
	align-items: center;
}

.order__footer-right {
	text-align: right;
}

.shop-list-item {
	color: white;
	display: grid;
	grid-template-columns: 32px 1fr;
	gap: 0 4px;
}

.shop-list-item__icon {
	width: 32px;
	height: 32px;
	text-align: center;
	align-self: center;
	font-size: 24px;
}

.shop-list-item__icon_plus {
	color: #F6DC2D;
	font-size: 40px;
	line-height: 32px;
}

.shop-list-item__title {

}

.shop-list-item_add {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	text-decoration: none;
}

.shop-list-item__center {
  text-align: center;
}

.shop-list-item__category {
	font-size: 12px;
}

.shop-list-item__link {
	font-size: 14px;
	margin-bottom: 8px;
	display: inline-block;
}

.shop-list-item__title {
	font-weight: 700;
}

.orders-footer__image {
	height: 24px;
	width: 24px;
}

.progress-bar {
	background: linear-gradient(270deg, #F6DC2D 0%, #DE911D 100%);
	border-radius: 20px;
	margin-top: 8px;
	width: 138px;
	height: 6px;
}

.order__applicants-price {
	display: grid;
	grid-template-columns: repeat(2, auto);
	font-size: 18px;
	justify-items: center;
	align-items: center;
}

.order__applicants-old-price {
	text-decoration-line: line-through;
	color: rgba(255, 255, 255, 0.55);
}

.order__applicants-new-price {
	padding: 8px 12px;
	background: rgba(74, 74, 67, 0.33);
	border-radius: 8px;
	color: var(--text-color);
	justify-self: end;
}

.orders__navigation {
	margin: 0 -20px 0;
	padding: 10px 12px;
	background-color: #22221E;
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	grid-column-gap: 10px;
	align-items: center;
}

.orders__navigation-login {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.orders__navigation-icon {
	width: 24px;
	height: 24px;
}

.orders__navigation-plus-icon {
	margin-left: 20px;
}

.order-status {
	padding: 2px 12px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: normal;
}

.order-status_assembly {
	background: rgba(74, 74, 67, 0.33);
	color: var(--text-color2)
}

.order-status_payment {
	background: rgba(240, 180, 41, 0.33);
	color: #FFF3C4;
}
